apparmor==3.0.3
appdirs==1.4.4
application-utility==1.3.2
async-generator==1.10
attrs==21.2.0
backports.entry-points-selectable==1.1.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
btrfsutil==5.14.2
CacheControl==0.12.6
cachetools==4.2.3
caffeine-ng==3.5.1.post27+g1e5febf.d20210919
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==8.0.3
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==3.4.8
cycler==0.11.0
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
duplicity==0.8.20
ewmh==0.1.6
fasteners==0.16
filelock==3.3.2
Flask==2.0.2
future==0.18.2
google-api-core==2.1.0
google-api-python-client==2.24.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
gufw==21.4.0
h11==0.12.0
html5lib==1.1
httplib2==0.19.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
kiwisolver==1.3.2
layoutswitcherlib==0.8.22
LibAppArmor==3.0.3
louis==3.19.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
more-itertools==8.10.0
msgpack==1.0.2
neattext==0.1.2
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.21.4
oauth2client==4.1.3
ordered-set==4.0.2
outcome==1.1.0
packaging==20.9
pacman-mirrors==4.21.5
pandas==1.3.4
paramiko==2.7.2
pep517==0.11.0
Pillow==8.3.2
pipenv==2021.11.5.post0
platformdirs==2.4.0
ply==3.11
progress==1.5
protobuf==3.17.3
psutil==5.8.0
pulsectl==21.9.1
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.20
PyDrive==1.3.1
PyGObject==3.40.1
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pysmbc==1.0.23
python-dateutil==2.8.2
python-xlib==0.31
PythonTurtle==0.3.2
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
ranger-fm==1.9.3
reportlab==3.6.1
requests==2.26.0
requests-file==1.5.1
resolvelib==0.5.5
retrying==1.3.3
rsa==4.7.2
scikit-learn==1.0.1
scipy==1.7.2
seaborn==0.11.2
selenium==4.0.0
setproctitle==1.2.2
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
team==1.0
threadpoolctl==3.0.0
tk==0.1.0
tldextract==3.1.2
toml==0.10.2
tomli==1.2.1
trio==0.19.0
trio-websocket==0.9.2
ueberzug==18.1.9
ufw==0.36
uritemplate==3.0.1
urllib3==1.26.6
urwid==2.1.2
validate==5.1.0.dev0
virtualenv==20.10.0
virtualenv-clone==0.5.7
webencodings==0.5.1
Werkzeug==2.0.2
wsproto==1.0.0
