*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #c4a1a2;
}

.content-wrapper{
    width: 80%;
    margin: 4% 10% 5% 10%;
}

.content-wrapper img{
    width: 100%;    
}

.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -40%;
}

.text-wrapper h1{
    text-align: center;
    font-size: 10vw;
    color: #ffffff;
    font-family: 'lobster', cursive;
}